header.navbar-container {
  width: 100%;
  background-color: #000000;
  padding: 17px;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 9999;
}

header.navbar-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 18px;
}

header.navbar-container .logo img {
  width: 30px;
}

header.navbar-container .logo a {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
}

header.navbar-container .nav-list li {
  list-style-type: none;
  white-space: nowrap;
}

header.navbar-container .nav-list li a {
  padding: 8px 16px;
  border-radius: 999px;

  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;

  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: white;
  color: rgba(0, 0, 0, 0.685);
}

@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  header.navbar-container .nav-list {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    position: fixed;
    background-color: black;
  }

  header.navbar-container .logo {
    gap: 0px 12px;
  }

  header.navbar-container .logo img {
    width: 32px;
  }

  header.navbar-container .logo a {
    font-size: 12px;
  }

  header.navbar-container .nav-list ul {
    gap: 4px;
  }

  header.navbar-container .nav-list li a {
    padding: 4px 8px;
    border-radius: 999px;

    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
  }
}

@media screen and (max-width: 363px) {
  header.navbar-container .nav-list li a {
    padding: 4px 8px;
    border-radius: 999px;

    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
  }
}
